@import "tailwindcss";


body {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}







